<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>Hello World! Our names are:</h1>
    <ul>
    <%for (let i=0; i<names.length; i++) {%>
      <li><%=names[i]%></li>
      <%}%>
  </body>
</html>
