<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>person </title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>Person: <%=names%></h1>
  </body>
</html>
